.home {
    min-height: 100vh;
    height: auto;
    background: black;
    color: white;
    width: 100%;
    .container {
        .home-search {
            padding-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                outline: none;
                width: 30rem;
                border: 1px solid #CCC;
            }
            button {
                width: 12rem;
                background: #F3B542;
                border: none;
                outline: none;
                cursor: pointer;
                margin-left: .5rem;                
                color: white;
                outline: none;
                transition: all .3s ease;
                &:hover {
                    background: darken(#F3B542, 8%);
                }
            }
            input, button {
                padding: .5rem;
                font-size: 1.6rem;
                border-radius: 6px;
            }
        }
        .home-grid {
            padding: 4rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 220px));
            justify-content: center;
            gap: 3rem;
            .home-meals {
                img {
                    border-radius: 8px;
                    border: 1px solid #CCC;
                    width: 100%;
                    transition: all .5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                h4 {
                    font-size: 1.5rem;
                    margin-top: 2rem;
                    text-align: center;
                }
            }
        }
    }
    
}