.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: black;
    color: white;
    height: 10vh;
    border-top: 1px solid #CCC;
    p {
        font-size: 1.6rem;
        span {
            color: #F3B542;
        }
    }
}